# Terraform state - khong push len GitHub
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*

# tfvars co the chua thong tin nhay cam
terraform.tfvars

# OS
.DS_Store

*.pem
